@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;900&display=swap');

body {
   font-family: 'Roboto Slab', serif;
}

.wrapper {
   overflow: hidden;
   position: relative;
   min-height: 100%;
   background-color: #F8F8F8;
}

[class*="__container"] {
   max-width: 1140px;
   margin: 0 auto;
   padding: 0px 10px;
}

.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}

.header:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: white;
   z-index: 2;
}

.header__body {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
}

.header__logo {
   flex: 0 0 180px;
   position: relative;
   z-index: 3;
}

.header__logo img {
   max-width: 100%;
}

.header__burger {
   display: none;
}

.header__list {
   display: flex;
   position: relative;
   z-index: 2;
}

.header__list li {
   list-style: none;
   margin: 0px 0px 0px 20px;
}

.header__link {
   /* font-size: 16px; */
   font-weight: 700;
   transition: all 0.4s ease;
}

@media(max-width: 767px) {
   .header__body {
      height: 50px;
   }

   .header__logo {
      flex: 0 0 160px;
   }

   .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
   }

   .header__burger:before,
   .header__burger:after {
      content: '';
      background-color: black;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }

   .header__burger:before {
      top: 0;
   }

   .header__burger:after {
      bottom: 0;
   }

   .header__burger span {
      position: absolute;
      background-color: black;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
   }

   .header__burger.active span {
      transform: scale(0);
   }

   .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px;
   }

   .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
   }

   .header__menu {
      position: fixed;
      top: 0%;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgb(230, 230, 230);
      padding: 70px 10px 20px 10px;
      transition: all 0.5s ease 0s;
   }

   .header__menu.active {
      left: 0;
   }

   .header__list {
      display: block;
   }

   .header__list li {
      margin: 0px 0px 20px 0px;
   }

   .header__link {
      /* font-size: 16px; */
      font-weight: 700;
      transition: all 0.4s ease;
   }

   .body-menu {
      overflow: hidden;
   }
}

.header__link:hover {
   color: #2E8B57;
}

.page__main {
   padding-top: 70px;
}

.main__body {
   /* border: 1px solid red; */
   display: flex;
}

.main__become-part {
   /* border: 1px solid blue; */
   flex: 0 1 50%;
}

.become-part {
   display: flex;
   flex-direction: column;
}

.become-part__text {
   flex: 0 1 50%;
   border: 1px solid red;
   display: flex;
   align-items: flex-end;
   font-weight: 600;
   font-size: 37px;
   line-height: 120%;
}

.become-part__text span {
   color: #2E8B57;
}

.become-part__actions {
   flex: 0 1 50%;
   border: 1px solid green;
   padding-top: 30px;
   display: flex;
   align-items: flex-start;
   gap: 40px;
}

.main__image {
   flex: 0 1 50%;
   /* border: 1px solid green; */
   /* width: 500px; */
}

.main__image img {
   max-width: 100%;
}

.button {
   border-radius: 4px;
   font-weight: 500;
   line-height: 1.5;
   color: white;
   letter-spacing: 0.02em;
   display: inline-block;
   padding: 15px 30px;
   position: relative;
   background-color: #2E8B57;
   font-size: 18px;
}

.button span {
   position: relative;
   z-index: 2;
}

.button:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: 0;
   border-radius: 4px;
   transition: opacity 0.3s ease 0s;
   background-color: #207a47;
}

.button:hover::before {
   opacity: 1;
}

.become-part__play-video div {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 1px solid rgb(197, 215, 250);
}

@media(max-width: 767px) {
   .page__main {
      padding-top: 50px;
   }

   .main__body {
      flex-direction: column-reverse;
   }
}